#header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}
#logo {
  display: flex;
  align-items: center;
}
#icon {
  display: flex;
  min-width: 20vw;
  max-width: 20vw;
  height: auto;
}
#content-nav-bar {
  flex: 1;
  display: flex;
  justify-content: center;
}
#right-group {
  display: flex;
  min-width: 20vw;
  max-width: 20vw;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  #icon {
    max-width: 40vw;
  }
  #header {
    padding: 0.5rem 1rem;
  }
  #content-nav-bar {
    display: none;
  }
}
