.call-me-btn {
  display: flex;
  gap: 8px;
  width: auto;
  background: #e6f632;
  color: #34372e;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
}
.call-me-btn:hover {
  outline: none;
  background: #ef233c;
  color: #ffffff;
}
button:active,
button:focus,
button:focus-visible {
  outline: none;
  background: #e6f632;
}
.call-me-btn:hover img {
  filter: brightness(0) invert(1);
}
.callme-text {
  display: inline-block;
}
.call-me-btn img {
  width: 24px;
  height: 24px;
}
@media (max-width: 600px) {
  .callme-text {
    display: none !important;
  }
  .call-me-btn:hover {
    background: #e6f632;
    color: #34372e;
  }
  .call-me-btn:hover img {
    filter: none;
  }
}
