.call-me-btn {
  display: flex;
  gap: 5px;
  width: auto;
  max-height: 5vh;
  background: #e6f632;
  color: black;
  border: none;
  border-radius: 0.8rem;
  padding: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
}
.call-me-btn:hover {
  outline: none;
  background: #ef233c;
  color: #ffffff;
}
button:active,
button:focus,
button:focus-visible {
  outline: none;
  background: #e6f632;
}
.call-me-btn:hover img {
  filter: brightness(0) invert(1);
}
.callme-text {
  display: inline-block;
}
.call-me-btn img {
  width: 1.3rem;
  height: auto;
}
@media (max-width: 600px) {
  .call-me-btn img {
    width: auto;
    max-height: 2vh;
  }
  .callme-text {
    display: none !important;
  }
  .call-me-btn:hover {
    background: #e6f632;
    color: #34372e;
  }
  .call-me-btn:hover img {
    filter: none;
  }
}
