#contener {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  background: none;
  min-height: 100vh;
  box-sizing: border-box;
}

main {
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #666dfd;
  text-decoration: inherit;
  font-size: 0.9em;
}
a:hover {
  text-shadow: 0 5px 10px #202252;
}

p {
  margin: 1px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background: #5d74b6;
  color: #ffffff;
  display: flex;
  place-items: center;
  font-weight: 500;
  font-family: inherit;
  background-color: #5d74b6;
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: center;
  display: inline-block;
  width: auto;
  outline: none;
}
button:hover {
  outline: none;
  border: none;
  width: 100%;
  box-sizing: border-box;
  background: #7a89b1;
}
button.active,
button:focus,
button:focus-visible {
  border: none;
  outline: none;
}
form {
  width: auto;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  main {
    padding: 1rem;
    max-width: 100vw;
  }
  form {
    padding: 1rem;
    max-width: 100vw;
  }
  h1 {
    font-size: 2em;
  }
}
main {
  padding: 2rem;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #666dfd;
  text-decoration: inherit;
  font-size: 0.9em;
}
a:hover {
  text-shadow: 0 5px 10px #202252;
}

p {
  margin: 1px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background: #5d74b6;
  color: #ffffff;
  display: flex;
  place-items: center;
  font-weight: 500;
  font-family: inherit;
  background-color: #5d74b6;
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: center;
  display: inline-block;
  width: auto;
  outline: none;
}
button:hover {
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background: #7a89b1;
}
button:focus,
button:focus-visible {
  outline: none;
  outline: 4px auto -webkit-focus-ring-color;
}
form {
  width: auto;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  main {
    padding: 1rem;
    max-width: 100vw;
  }
  form {
    padding: 1rem;
    max-width: 100vw;
  }
  h1 {
    font-size: 2em;
  }
}
